.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containe {
  position: relative;
  text-align: center;
  color: white;
}

.h:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-out;
}
.flink {
  text-decoration: none;
}

/* .social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #333;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
} */

.social-item {
  width: 60px;
  height: 60px;
}
